/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
/arch
/board/*
!/board/raspberrypi
/boot
/build
/configs
/docs
/fs
/linux

/package/*
!/package/Config.in
!/package/linuxptp
/support
/system
/toolchain
/CHANGES
/Config.in
/Config.in.legacy
/COPYING
/DEVELOPERS
/Makefile
/Makefile.legacy
/README
..config.tmp
.br-external.mk
.config.old
.defconfig
